html{
    scroll-behavior: smooth;
}
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
	background-color: #f4f4f4;
}
nav{
    position: fixed;
}
.alert {
    display: block;
    position: fixed;
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    z-index: 999;
    top: 87px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
  }
  
  .alert.success {background-color: #04AA6D;}
  .alert.info {background-color: #2196F3;}
  .alert.fail {background-color: #f44336;}
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  
/* Main content */
.main{
    padding-top: 90px;
    margin-left: 17%;
    padding-bottom: 1vh;
}
.content{
    width: 85%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2%;
    margin: 7% 8%;
    background-color: #ffffff;
    border-radius: 10px;
    border: #8b8b8b 1px solid;
}
.content-head{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.content-head button{
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    border: #000000 2px solid;
    color: #b92d2d;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: .4s;
}
.content-head button:hover{
    background-color: #b92d2d;
    color: #ffffff;
    border: #b92d2d 2px solid;
}
.content-head form{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

}
input{
    padding: 7px 10px;
    border: #000000 2px solid;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    transition: .2s;
}
input:hover{
    border: #b92d2d 2px solid;
}
input:focus{
    outline: none;
}
.content-table{
    margin: 5% auto;
    width: 100%;
    overflow: auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    width: auto;
    border: none ;
    border-collapse: collapse;
}
th {
    color: #fff;
    padding: 10px;
    text-align: center;
    padding-left: 20px;
}
th:last-child {
    background-color: transparent;
    color: inherit;
    border: none;
    padding: inherit;
}
td:last-child{
    border: none;
}
td{
    padding: 10px;
    padding-left: 20px;
    text-align: center;
}
table td {
    width: 100px; /* Adjust the width as needed */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Adds an ellipsis (...) to indicate hidden overflow text */
}
tr:nth-child(odd) {
    background-color: #f0f0f0;
}

table button{
    border: none;
    background-color:transparent;
    color: #000;
    font-size: 1.5em;
    font-weight: 500;
    cursor: pointer;
    transition: .4s;
}
table button.delete{color: #b92d2d;}
table button.edit{color: #42b033;}
/* Add to your existing CSS */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.modal form input:hover{
    border: #000000 2px solid;
}
.cancel-button,
.save-button,
.delete-button{
    width: 8%;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    border: #63b92d 2px solid;
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: .4s;
}
.cancel-button{border: #b92d2d 2px solid;}

.cancel-button:hover,
.save-button:hover,
.delete-button:hover{
    background-color: #46841f;
    color: #fff;
    border: transparent 2px solid;
}
.cancel-button:hover{background-color: #b92d2d;}
.button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.modal#deleteModal .modal-content{
    width: 25%;
} 
.modal#deleteModal .button-container{
    justify-content: center;
}
.modal#deleteModal .button-container button{
    width: 30%;
}