*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f9f4f4;
}
section{
    margin: 5% 0;
}

.info-container{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    gap: 20px;
}
form{
    width: 100%;
}
form input{
    width: 100%;
    outline: none;
}
form input[type="date"]{
    width: calc(50%-10px);
    height: auto;
    margin: 0 0;
}
form input[type="submit"]{
    width: 10%;
    height: 40px;
    padding: 10px;
    background-color: #b92d2d;
    color: #fff;
    font-size: .9em;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background-color: #a52727;
}

.info-bar, .info-date {
    display: flex;
    align-items: center;
    width: auto; /* Adjusts width based on content */
}

.info-bar {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 25px;
    width: 100%;
    background-color: #ffff;
    border: #b92d2d 3px solid;
    border-radius: 5px;
}
.if-date{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.if-date input[type="date"]{
    flex: 1; /* Adjust this as needed */
}

fieldset{
    padding: 4px 5px;
    border-radius: 3px;
    border: none;
}

/* Booking */
.book-container{
    width: 75%;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    gap: 20px;
}

.book-room{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    overflow: hidden;
}
.book-summary{
    padding: 20px;
    background-color: #ffffff;
    border: #8b8b8b 1px solid;
    border-radius: 5px;
    position: sticky;
    top: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.room-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: #c4c4c4 1px solid;
    border-radius: 5px;
    overflow: hidden;
}
.rc-head{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.rc-h-image{
    width: 40%;
    height: auto;
    overflow: hidden;
}
.rc-h-image img{
    width: 100%;
    height: auto;
}
.rc-h-desc{
    width: 60%;
    height: auto;
    padding: 15px 10px;
}
.rc-h-desc p{
    margin: 5px 0;
}

.rc-body{
    width: 100%;
    padding: 10px 10px;
}
.rc-b-choice{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-top: 1px solid #aeadad;
}
.rc-bc-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.rc-bc-right button{
    width: 7em;
    height: 3em;
    background-color: #b92d2d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: .1s;
}
.rc-bc-right button:hover{
    background-color: #a52727;
}

/* Booking Summary */
.bs-info h2{
    margin: 4% 0 7% 0;
}
.bs-info h3, .bs-info h4, .bs-info p{
    margin: 2% 0;
}

.room-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.confirm-discount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background-color: #e1c999;
    border-radius: 10px;
    padding: 3.5%;
}
.confirm-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 5% 0;
}

button.book{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    background-color: #b92d2d; /* Changed background color to green */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Adjusted font size */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button.book:hover{
    background-color: #a52727; /* Darker shade of green on hover */
}


hr{
    width: 70%;
    margin: 35px auto;
    border-color: #000000;
}