html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .4s;
}

nav .logo{
    width: 80px;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 100px;
    color: #fff;
    font-weight: 600;

}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 40px;
    margin-top: 20px;
}


.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}



@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
    font-weight: 400;
}

body{
    background: #e5e5e5;
    margin: 0;
}

.row {
    display: flex;
}

.container {
    max-width: 90%;
    margin: 3em auto;
}

.container h1{
    font-size: clamp(60px, 10px, 96px);
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.cards { 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em 0;
}

.card {
    align-items: flex-end;
    justify-content: center;
    position: relative;
    max-width: 150px;
    min-height: 500px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-image: url(../pic/johor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: max-width 0.5s ease-in-out;
    -webkit-transition: max-width 0.5s ease-in-out;
    -moz-transition: max-width 0.5s ease-in-out;
    -ms-transition: max-width 0.5s ease-in-out;
    -o-transition: max-width 0.5s ease-in-out; 
}

.card:nth-of-type(2) {
    background-image: url(../pic/Pulau\ pinang.jpg);
}
.card:nth-of-type(3) {
    background-image: url(../pic/Pahang.jpg);
}
.card:nth-of-type(4) {
    background-image: url(../pic/Selangor.jpg);
}

.card:hover {
    max-width: 500px;
}

.card-body {
    background: linear-gradient(180deg, rgba(45, 45, 45, 0) 0%, #2d2d2d 100%);
    padding: 4em;
}

.title {
    background: linear-gradient(180deg, rgba(45, 45, 45, 0) 0%, #2d2d2d 100%);
    position: absolute;
    inset: 0;
}

.card:hover .title {
    all: unset;
}

.container h2 {
    font-size: clamp(38px, 5vw, 48px);
    color: #fffbfb;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0;
    transform: rotate(-90deg) translateX(-350px);
    -webkit-transform:rotate(-90deg) translateX(-350px);
    -moz-transform: rotate(-90deg) translateX(-350px);
    -ms-transform: rotate(-90deg) translateX(-350px);
    -o-transform: rotate(-90deg) translateX(-350px);   
}

.card:hover h2 {
    padding-bottom: 0.5em;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
}

.container p {
    position: absolute;
    font-size: 18px;
    color: #fff;
    margin: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out;
    -webkit-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    -ms-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
}

.card:hover p{
    position: relative;
    opacity: 1;
    max-height: 100%;
    transition-delay: 0.5s;
}