*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
	background-color: #f4f4f4;
}

/* Filter Display */
.filter-container{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin: 5% auto;
    gap: 20px;
}
.filter-bar{
    min-height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.filter-bar input[type="submit"]{
    width: 216px;
    height: 55.2px;
    background-color: #4f0e70;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.filter-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 216px;
    height: 100%;
    padding: 10px 30px;
}
.filter-button:hover{
    background-color: rgba(0, 0, 0, 0.1); /* Example: black background with 10% opacity */
}
.filter-button select{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

/* Room Display */
.room-container{
	width: 70%;
	display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
    margin: 5% auto;
    gap: 40px;
}

.room{
	width: 100%;
    height: 60vh;
	display: flex;
	align-items: center;
	justify-content:space-around;
	flex-direction: column;
	border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.room-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    overflow: hidden;
}
.room img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}
.room-desc{
    display: flex;
    height: 40%;
    min-height: 12vh;
    min-width: 100%;
    padding: 3% 3%;
    justify-content: center;
}
.room-desc h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;

}
.room-desc p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #474747;
}
.room-desc .room-desc-name{
    width: 30%;
}
.room-desc .room-desc-misc{
    width: 40%;
}
.room-desc .room-desc-book{
    width: 30%;
    text-align: center;
}
.room button{
    width: 80%;
    padding: 5% 0;
    color: #000;
    background-color: transparent;
    border: #000 2px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: .4s;
}

.room button:hover{
    background-color: #2e2e2e;
    color: #fff;
}